<template>

<header class="box-typical-header panel-heading" style="display: flex; margin: 0px; padding-bottom: 0px">

  <h3 class="panel-title">Добавление полей таблицы</h3>

  <button @click="addItem()" class="btn btn-inline btn-primary ladda-button"
          style="margin-left: auto; margin-right: 0px;">
        <span class="ladda-label"> + </span>
        <span class="ladda-spinner"></span>
  </button>

</header>


<table class="tbl-typical">

    <tr>
      <th><div>Имя поля</div></th>
      <th align="center"><div>Тип</div></th>
      <th align="center" style="width: 30px"><div>Размер</div></th>
    </tr>

    <tr v-for="(item) in fields" >

        <td><div class="form-group" style="margin: 0px; padding:0px;">
          <input v-model="item.name" type="text" class="form-control"  placeholder="Имя поля" style="margin: 0px;" >
        </div></td>

        <td><div class="form-group" style="margin: 0px; padding:0px;">
          <select v-model="item.type"  class="form-control form-control-line pl-0" style="cursor: pointer;">
            <option v-for="(type) in typesList" :value="type">{{type}}</option>
          </select>
        </div></td>

        <td><div class="form-group" style="margin: 0px; padding:0px;">
          <input v-model="item.size" type="text" placeholder="" class="form-control">
        </div></td>

    </tr>

</table>

<div class="card-block"><div class="row" >

    <div class="col-lg-6" style="">
      <button @click="save()" class="btn btn-inline btn-primary ladda-button" style="">
        <span class="ladda-label"> Сохранить поля </span>
        <span class="ladda-spinner"></span>
      </button>
    </div>

    <div class="col-lg-6" style="text-align: right">
      <button @click="clear()" class="btn btn-inline btn-primary ladda-button" style="margin-right: 0px">
        <span class="ladda-label"> Очистить </span>
        <span class="ladda-spinner"></span>
      </button>
    </div>

</div></div>

</template>

<script>

import {computed, ref} from 'vue';

export default {
  name: "AddFields",
  props:['field_types', 'table_name', 'clear'],

  setup(props, { emit }) {

    const tableName = computed(() => {
        return props.table_name;
    })

    const typesList = props.field_types;
    const fields = ref([])

    const addItem = () => {
      let field = {
           name: '',
           type: 'varchar',
           size: 250,
           table_name: tableName
      }
      fields.value.push(field);
    }

    const clear = () => {
      fields.value = [];
      addItem();
    }

    const save = () => {
      const data = { fields: fields.value }
      emit('add_fields',  data);
      clear();
    }

    addItem();

    return {
      fields,
      typesList,
      addItem,
      clear,
      save,
    }
  }
}
</script>

<style scoped>

</style>