<template>

  <header class="page-content-header">
    <div class="container-fluid">
      <div class="tbl"><div class="tbl-row">

          <div class="tbl-cell" style="">
            <h5>Таблица : <span class="label label-success">{{getTableName}}</span></h5>
          </div>

          <div class="tbl-cell tbl-cell-action">
             <span v-if="lastActionMessage" style="font-size: 11px; font-style: italic">
                Последнее действие : <span style="color:green"> {{lastActionMessage}}</span>
             </span>
          </div>

      </div></div>
    </div>
  </header>

  <div class="container-fluid">

    <div class="row">

      <!--- ################################# ---->
      <!--- Действия с полями (левая часть)---->
      <div class="col-xl-8" >

        <v-section>
          <CreateFields />
        </v-section>

        <section  class="box-typical box-typical-dashboard panel panel-default scrollable">
            <AddFields
              class="add-fields-box"
              :table_name="getTableName"
              :field_types="fieldTypes"
              @add_fields="addFields" />
        </section>

        <section class="box-typical box-typical-dashboard panel panel-default scrollable">

          <header class="box-typical-header panel-heading">
            <h3 class="panel-title">Поля таблицы</h3>
          </header>

          <div class="box-typical-body panel-body" style="height: 100%">

            <table class="tbl-typical">

              <tr>
                <th><div>Имя</div></th>
                <th><div>Название</div></th>
                <th align="center"><div>Тип</div></th>
                <th align="center"><div>Размер</div></th>
                <th align="center" style="width: 30px"><div>Удалить</div></th>
              </tr>

              <tr v-for="(item, fname) in fields" >
                <td><span class="label label-success">{{fname}}</span></td>
                <td><div class="form-group" style="margin: 0px; padding:0px;">
                    <input @change="renameField(fname, item.column_name)"
                           v-model="item.column_name" type="text" placeholder="Имя поля"
                           class="form-control" style="margin: 0px;" >
                </div></td>
                <td><div class="form-group" style="margin: 0px; padding:0px;">
                    <select v-model="item.input_type"  class="form-control" style="cursor: pointer; margin: 0px;">
                      <option v-for="(type) in fieldTypes" :value="type">{{type}}</option>
                    </select>
                </div></td>

                <td nowrap align="center"><span class="semibold"></span></td>

                <td style="text-align: center; cursor: pointer; padding-top: 9px; width: 30px">
                  <i @click="deleteField(fname)" class="font-icon font-icon-del delete-item-icon"></i>
                </td>

              </tr>

            </table>

          </div><!--.box-typical-body-->

        </section><!--.box-typical-dashboard-->
      </div><!--.col-->

      <!--- ################################# ---->
      <!--- Действия с таблицей (правая часть)---->
      <div class="col-xl-4 dahsboard-column">

        <section class="box-typical box-typical-dashboard panel panel-default scrollable">

          <header class="box-typical-header panel-heading">
            <h3 class="panel-title"> Действия с таблицей</h3>
          </header>

          <!--- Удаление таблицы    ---->
          <div class="row row-form-container" style="margin: 4px;">
            <div class="col-lg-12">
              <div class="row-form__title"> Удаление таблицы </div>
            </div>
            <div class="col-lg-6">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Имя таблицы</label>
                <input v-model="getTableName" type="text" class="form-control fieldset-elem__input" >
              </fieldset>
            </div>
            <div class="col-lg-6" >
              <button @click="deleteTable(getTableName)" class="btn row-form__btn btn__height-31" >
                  <span class="ladda-label">Удалить таблицу</span>
                  <span class="ladda-spinner"></span>
              </button>
            </div>
          </div><!--.row row-form-container -->
          <!--- ./ Удаление таблицы ---->

          <!--- Создание таблицы   ---->
          <div class="row row-form-container" style="margin: 4px;">
            <div class="col-lg-12">
              <div class="row-form__title"> Создание таблицы </div>
            </div>
            <div class="col-lg-8">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Имя таблицы</label>
                <input v-model="newTable.name" type="text" class="form-control fieldset-elem__input" >
              </fieldset>
            </div>
            <div class="col-lg-4">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Имя ID</label>
                <input v-model="newTable.id" type="text" class="form-control fieldset-elem__input" >
              </fieldset>
            </div>

            <div class="col-lg-12" >
              <button @click="createTable(newTable)" class="btn row-form__btn" >
                <span class="ladda-label">Создать таблицу</span>
                <span class="ladda-spinner"></span>
              </button>
            </div>
          </div><!--.row row-form-container -->
          <!--- ./ Создание таблицы ---->

          <!--- Копирование таблицы   ---->
          <div class="row row-form-container" style="margin: 4px;">
            <div class="col-lg-12">
              <div class="row-form__title"> Копирование таблицы </div>
            </div>
            <div class="col-lg-8">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Имя таблицы</label>
                <input v-model="getTableName" type="text" class="form-control fieldset-elem__input" >
              </fieldset>
            </div>
            <div class="col-lg-4">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Новое имя</label>
                <input v-model="copyTableName" type="text" class="form-control fieldset-elem__input" >
              </fieldset>
            </div>

            <div class="col-lg-12" >
              <button @click="copyTable(getTableName, copyTableName)" class="btn row-form__btn" >
                <span class="ladda-label">Скопировать таблицу</span>
                <span class="ladda-spinner"></span>
              </button>
            </div>
          </div><!--.row row-form-container -->
          <!--- ./ Копирование таблицы ---->

          <!--- Изменение имени таблицы  ---->
          <div class="row row-form-container" style="margin: 4px;">
            <div class="col-lg-12">
              <div class="row-form__title"> Изменение имени таблицы </div>
            </div>
            <div class="col-lg-6">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Имя таблицы</label>
                <input v-model="getTableName" type="text" class="form-control fieldset-elem__input" >
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Новое имя</label>
                <input v-model="changeTableName" type="text" class="form-control fieldset-elem__input" >
              </fieldset>
            </div>

            <div class="col-lg-12" >
              <button @click="renameTable(getTableName, changeTableName)" class="btn row-form__btn" >
                <span class="ladda-label">Изменить имя таблицу</span>
                <span class="ladda-spinner"></span>
              </button>
            </div>
          </div><!--.row row-form-container -->
          <!--- ./ Изменение имени таблицы ---->

        </section>
      </div>

    </div>

  </div><!--.container-fluid-->

</template>

<script>

import { computed, ref, reactive } from "vue";

// use
import useFetchData from "@/composables/useFetchData";
import useTableAction from "@/composables/useTableAction";
import useAlertMessages from "@/composables/useAlertMessages";

// components
import AddFields from "@/components/tables/AddFields";
import CreateFields from "@/components/tables/CreateFields";

export default {

  name: "TableItem",
  props: ['table_name'],
  components: {
    AddFields,
    CreateFields,
  },

  setup(props, { emit }) {

    // Data ---------
    const tableName = ref('');
    const copyTableName = ref('');
    const changeTableName = ref('');
    // const lastActionMessage = ref('');

    const fieldTypes = {
      "integer" : "integer",
      "varchar" : "varchar",
      "text"    : "text",
      "serial"  : "serial",
      "json"    : "json",
      "xml"     : "xml",
      "uuid"     : "uuid",
      "character": "character",
      "timestamp": "timestamp",
      "date"     : "date",
      "bigint": "bigint",
      "boolean": "boolean",
      "numeric": "numeric",
      "line": "line",
      "point": "point",
      "polygon": "polygon",
    }

    const tableModel = reactive({
      name: {type: 'text', col: 5, title: 'Имя таблицы', value: ''},
      id: {type: 'text', col: 3, title: 'Id таблицы', value: ''},
      btn: {type: 'submit', col: 4, title: 'Создать таблицу'},
    })

    const newTable = reactive({
      name: '',
      id: 'id'
    })

    // Use ------------
    const { useState, getFields } = useFetchData();
    const { setMessage, lastActionMessage } = useAlertMessages()
    const tableAction = useTableAction();


    // ##################
    // Methods ----------

    const setFieldsList = (tabName) => {
      getFields(tabName).then((list) => {
        useState.fields = list
      })
    }

    const renameField = (oldName, newName) => {
      const data = { tableName: tableName.value, oldName: oldName, newName: newName };
      tableAction.renameField(data).then((resp) => {
        setMessage('Имя поля изменено');
        setFieldsList(data.tableName);
      })
    }

    const renameTable = (oldName, newName) => {
      tableAction.renameTable(oldName, newName).then((resp) => {
        setMessage('Имя таблицы изменено');
        emit('create_table', { name: newName })
        changeTableName.value = '';
      })
    }

    const deleteField = (name) => {
      const data = { table_name: tableName.value, name };
      tableAction.deleteField(data).then((resp) => {
         setMessage('Поле удалено : ' + name);
         setFieldsList(data.table_name);
      })
    }

    const copyTable = (tableName, newTableName) => {
      tableAction.copyTable(tableName, newTableName).then((resp) => {
          setMessage('Таблица скопирована');
          emit('create_table', { name: newTableName })
          copyTableName.value = '';
      })
    }

    const addFields = async (response) => {
          const newFields = response.fields;
          const resp = [];
          for(let el in newFields) {
            let field = newFields[el];
            if(!field.name) continue;
            let r1 = await tableAction.createField(field);
            resp.push(field.name);
          }

          setTimeout(() => {
            setFieldsList(tableName.value)
            // lastActionMessage.value = 'Новый поля добавлены';
            setMessage('Новый поля добавлены');
          }, 100)
    }

    const deleteTable = (tabName) => {
      if(!tableName.value) return false;
      tableAction.deleteTable(tableName.value).then((resp) => {
          let message = 'Таблица удалена : ' + tableName.value
          setMessage(message);
          emit('delete_table', { name: tableName.value })
      })
    }

    const createTable = (table) => {

      if (!table.name || table.name == '') {
        alert('Не задано имя новой таблицы');
        return false;
      }

      tableAction.createTable(table).then((resp) => {
         setMessage('Таблица успешно создана :' + table.name);
         emit('create_table', { name: table.name })
         newTable.name = '';
         newTable.id = 'id';
      });
    }

    // ##################
    // Computed  --------
    const getTableName = computed(() => {
      tableName.value = props.table_name;
      setFieldsList(tableName.value)
      return tableName.value;
    })

    const fields = computed(() => {
      return useState.fields;
    })

    // ==== return values ====
    return {

      useState,
      fields,
      fieldTypes,
      getTableName,

      tableModel,
      newTable,
      changeTableName,
      copyTableName,
      deleteTable,
      copyTable,
      renameTable,
      createTable,

      renameField,
      deleteField,
      addFields,

      lastActionMessage
    }
  }

}
</script>

<style scoped >

 .create-table-form {
    width: 410px !important; border: 0px gainsboro solid; border-radius:5px; height: 67px; margin: 0px;
 }

 .delete-field-btn:hover {
     background: darkred;
 }

 .add-fields-box {
    /*width: 100%; border-bottom:2px gainsboro solid; margin: 0px; padding: 5px 10px 5px 10px*/
 }

 .delete-item-icon {
   color:red; border: 0px red solid; border-radius: 0%; padding: 11px 10px 7px 10px;
 }

 .delete-item-icon:hover {
    background: red;
    opacity: 0.5;
    color: white;
 }

</style>