<template>
  <header class="page-content-header">
    <div class="container-fluid">
      <div class="tbl"><div class="tbl-row">

        <div class="tbl-cell" style="">
          <h5>База : <span class="label label-success">{{getDbName}}</span></h5>
        </div>

        <div class="tbl-cell tbl-cell-action">
             <span v-if="lastActionMessage" style="font-size: 11px; font-style: italic">
                Последнее действие : <span style="color:green"> {{lastActionMessage}}</span>
             </span>
        </div>

      </div></div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">

      <!--- ################################# ---->
      <!--- Действия с полями (левая часть)---->
      <div class="col-xl-7" >

        <section  class="box-typical box-typical-dashboard panel panel-default scrollable">
          <div class="box-typical-body panel-body">

            <div class="label label-warning" style="margin:10px; padding: 5px">{{itemFields.datacl}}</div>

            <FormContainer
              title="Привязка пользователя к базе">
              <template v-slot:content>

                <FormInput title="Имя базы" col="6"
                    :setvalue="getDbName"
                    @getvalue="userAttach.dbname = $event" />

                <FormSelect title="Пользователи" col="6"
                    :list="getUsersList"
                    :param="['usename', 'usename']"
                    :setvalue="userAttach.user"
                    @getvalue="userAttach.user = $event"/>

                <FormSubmit title="Сохранить" col="12"
                    @getvalue="setUserAttach" />

              </template>
            </FormContainer>

<!--            <pre>{{attachUsers}}</pre>-->

          </div>
        </section>

        <section class="box-typical box-typical-dashboard panel panel-default scrollable">
          <header class="box-typical-header panel-heading">
            <h3 class="panel-title">Поля базы</h3>
          </header>
          <div class="box-typical-body panel-body" style="height: 100%; padding: 3px;">
            <table id="table-edit" class="table table-bordered table-hover">
              <thead><tr>
                  <th>Имя свойства</th>
                  <th>Значение</th>
              </tr></thead>
              <tbody><tr v-for="(value, fname) in itemFields" >
                  <td>{{fname}}</td>
                  <td class="">{{value}}</td>
              </tr></tbody>
            </table>
          </div><!--.box-typical-body-->
        </section><!--.box-typical-dashboard-->

      </div><!--.col-->

      <!--- ################################# ---->
      <!--- Действия с базой (правая часть)---->
      <div class="col-xl-5 dahsboard-column">

        <section class="box-typical box-typical-dashboard panel panel-default scrollable">

          <header class="box-typical-header panel-heading">
            <h3 class="panel-title"> Действия с базой</h3>
          </header>

          <!--- Удаление     ---->
          <div class="row row-form-container" style="margin: 4px;">
            <div class="col-lg-12">
              <div class="row-form__title"> Удаление базы</div>
            </div>
            <div class="col-lg-6">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Имя базы</label>
                <input v-model="getDbName" type="text" class="form-control fieldset-elem__input" >
              </fieldset>
            </div>
            <div class="col-lg-6" >
              <button @click="deleteItem(getDbName)" class="btn row-form__btn btn__height-31" >
                <span class="ladda-label">Удалить базу </span>
                <span class="ladda-spinner"></span>
              </button>
            </div>
          </div><!--.row row-form-container -->
          <!--- ./ Удаление  ---->

          <!--- Создание ---->
          <div class="row row-form-container" style="margin: 4px;">
            <div class="col-lg-12">
              <div class="row-form__title"> Создание базы </div>
            </div>
            <div class="col-lg-8">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Имя базы</label>
                <input v-model="newItem.name" type="text" class="form-control fieldset-elem__input" >
              </fieldset>
            </div>
            <div class="col-lg-4">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Пользователь</label>
                <input v-model="newItem.user" type="text" class="form-control fieldset-elem__input" >
              </fieldset>
            </div>

            <div class="col-lg-12" >
              <button @click="createItem(newItem)"
                      class="btn row-form__btn" >
                      <span class="ladda-label">Создать базу</span>
                      <span class="ladda-spinner"></span>
              </button>
            </div>

          </div><!--.row row-form-container -->
          <!--- ./ Создание ---->

          <!--- Копирование ---->
          <div class="row row-form-container" style="margin: 4px;">
            <div class="col-lg-12">
              <div class="row-form__title"> Копирование базы</div>
            </div>
            <div class="col-lg-6">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Новое имя базы</label>
                <input v-model="copyItem.new_dbname" type="text"
                       class="form-control fieldset-elem__input" >
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset class="form-group fieldset-elem">
                <label class="form-label fieldset-elem__label" >Имя базы</label>
                <input v-model="copyItem.old_dbname" type="text" :placeholder="getDbName"
                       class="form-control fieldset-elem__input" >
              </fieldset>
            </div>
            <div class="col-lg-12" >
              <button @click="copyItemFn(copyItem)"
                      class="btn row-form__btn" >
                      <span class="ladda-label">Скопировать базу</span>
                      <span class="ladda-spinner"></span>
              </button>
            </div>
          </div><!--.row row-form-container -->
          <!--- ./ Копирование ---->

        </section>
      </div>

    </div>
  </div><!--.container-fluid-->

</template>

<script>

import {computed, reactive, ref} from "vue";
import useApiSender from "@/composables/useApiSender";
import useAlertMessages from "@/composables/useAlertMessages";

export default {
  name: "UserItem",
  props:['db_name', 'config'],
  setup(props, { emit }) {

    // ###########
    // DATA
    const fInputTest = ref('rty');
    const dbName = ref('');
    const itemFields = ref([])
    const attachUsers = ref([])
    const usersList = ref([])

    const newItem = reactive({
        name: '',
        user: 'postgres',
    });

    const copyItem = reactive({
      old_dbname: '',
      new_dbname: '',
    });

    const userAttach = reactive({
       dbname: '',
       user: '',
    })

    const { useState, sendAction } = useApiSender();
    const { setMessage, lastActionMessage } = useAlertMessages()

    // ###########
    // COMPUTED
    const getDbName = computed(() => {
      dbName.value = props.db_name;
      getDbItemFields(dbName.value);
      attachUsersRender();
      return dbName.value;
    });

    const getConfig = computed(() => {
      return props.config
    });

    const getUsersList = computed(() => {
      return useState.users
    });

    const getAttachUsers = computed(() => {
      return attachUsers.value;
    });

    // ###########
    // METHODS

    const getDbItemFields = (dbname = null) => {

      let fname = props.config.name;
      let list = useState.databases;
      for(let i in list) {
        if(!dbname) {
          itemFields.value = list[i];
          return itemFields.value;
        }
        if(list[i][fname] == dbname) {
          itemFields.value = list[i];
          return itemFields.value;
        }
      }
    }

    // Создание базы
    const createItem = (item = {}) => {

       if(!item.name || !item.user) { return };
       const itemName = item.name;
       const userName = item.user;

       sendAction('CREATE_DATABASE', [itemName, userName]).then( response => {
          emit('create_item', item );
          newItem.name = '';
          // newItem.user = null;
          setMessage('Новая база создана');
       })
    }

    // Удаление базы
    const deleteItem = (dbname = null) => {
      if(!dbname) return;

      sendAction('deleteDb', [dbname]).then( response => {
          emit('delete_item', { name: dbname } );
          setMessage('База удалена:' + dbname);
      });
    }

    // Копирование базы
    const copyItemFn = (item = {}) => {
      if(!item.old_dbname) item.old_dbname = getDbName;
      if(!item.new_dbname) return;
      let oldDbName = item.old_dbname
      let newDbName = item.new_dbname
      let data = [oldDbName, newDbName];

      sendAction('COPY_DATABASE', data).then( response => {
          emit('create_item', { name: newDbName } );
          setMessage('База скопирована:' + newDbName);
      });
    }

    const setUserAttach = () => {
       lg(userAttach)
    }

    const attachUsersRender = () => {
        let attach = []
        let users  = useState.users;
        let datacl = itemFields.value.datacl;
        for (let i in users) {
           let name = users[i]['usename'];
           let pos = datacl.indexOf(name);
           if(pos != -1) {
             attach[name] = name;
           }
        }
        attachUsers.value = attach;
    };

    // --- Init ----
    // attachUsersRender();

    // --- #########
    // -- RETURNS ---
    return {
      useState,
      getDbName,
      getConfig,
      itemFields,
      lastActionMessage,
      newItem,
      createItem,
      deleteItem,
      copyItemFn,
      copyItem,
      attachUsers,
      getAttachUsers,
      usersList,
      userAttach,
      getUsersList,
      setUserAttach,
    }
  }
}
</script>

<style scoped>

</style>