<template>

<div style="border: 0px red solid; padding: 5px; position: absolute; " >

    <button @click="panelShow = !panelShow" class="btn btn-inline btn-primary" style="">
      <span class="ladda-label">Привязка пользователей к базе</span><span class="ladda-spinner"></span>
    </button>

    <div v-if="panelShow && attachResponse.length" style="padding:5px; background: white">
      <div v-if="getActionName == 'setUserPrivileges'">Пользователи успешно прикреплены к базе: "{{selectDb}}"</div>
      <div v-else >Пользователи успешно откреплены от базы: "{{selectDb}}"</div>
      <div style="display: flex">
        <span v-for="(value) in attachResponse" class="label label-warning" style="margin: 4px">{{value}}</span>
      </div>
    </div>

    <div v-if="panelShow" style="display: flex; border: 1px gainsboro solid; padding: 0px 2px 30px 2px; background: #b0bed9; border-radius: 5px;
                                 box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">

        <!---- LEFT ---->
        <div class="dropdown-menu show"
             aria-labelledby="dd-header-marketing"
             x-placement="bottom-start"
             style="position: relative; transform: translate3d(0px, 24px, 0px); top: 0px; left: 0px; will-change: transform; margin: 4px;  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
          <div class="dropdown-header">Пользователи</div>
          <div class="dropdown-divider"></div>
          <a v-for="(item) in useState.users"
             @click="selectedUserName(item.usename)"
             class="dropdown-item" >{{item.usename}}</a>
          <div class="dropdown-divider"></div>
        </div>

        <!---- CENTER ---->
        <div class="dropdown-menu show"
             aria-labelledby="dd-header-marketing"
             x-placement="bottom-start"
             style="position: relative; transform: translate3d(0px, 24px, 0px); top: 0px; left: 0px; will-change: transform; margin: 4px; box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
          <div class="dropdown-header">База: <span class="label label-warning" style="text-transform: lowercase; color:black; font-weight: bold">{{selectDb}}</span></div>
          <div class="dropdown-divider"></div>
          <template v-if="selectDb">

              <button @click="setAttachPriv()" class="btn row-form__btn" style="margin-bottom: 0px">
                <span class="ladda-label">Прикрепить <br> пользователей к <br> {{selectDb}}</span>
                <span class="ladda-spinner"></span>
              </button>
              <div class="dropdown-divider"></div>

              <a v-for="(value, name) in selectUsers"
                 @click="deletedUserName(name)"
                 class="dropdown-item" >{{value}}</a>

              <div class="dropdown-divider"></div>
              <button @click="delAttachPriv()" class="btn row-form__btn" style="background: orange">
                <span class="ladda-label">Открепить <br> пользователей к <br> {{selectDb}}</span>
                <span class="ladda-spinner"></span>
              </button>

          </template>
        </div>

        <!---- RIGHT ---->
        <div class="dropdown-menu show"
             aria-labelledby="dd-header-marketing"
             x-placement="bottom-start"
             style="position: relative; transform: translate3d(0px, 24px, 0px); top: 0px; left: 0px; will-change: transform; margin: 4px;  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
          <div class="dropdown-header">Базы</div>
          <div class="dropdown-divider"></div>
          <a v-for="(item) in useState.databases"
             @click="selectedDbName(item.datname)"
             class="dropdown-item" >{{item.datname}}</a>
          <div class="dropdown-divider"></div>
        </div>

</div></div>

</template>

<script>

import {computed, ref} from "vue";
import useApiSender from "@/composables/useApiSender";
import useAlertMessages from "@/composables/useAlertMessages";

export default {
  name: "UserAttachAction",

  setup(_, {emit}) {

    const attachResponse = ref([]);
    const selectUsers = ref({});
    const selectDb = ref('');
    const actionName = ref('');
    const panelShow = ref(false);

    const {useState, sendAction} = useApiSender();
    const {setMessage, lastActionMessage} = useAlertMessages();

    const getActionName = computed(() => {
       return actionName.value;
    })

    const selectedDbName = (name) => {
       attachResponse.value = [];
       selectDb.value = name;
    }

    const selectedUserName = (name) => {
      attachResponse.value = [];
      selectUsers.value[name] = name;
    }

    const deletedUserName = (name) => {
      attachResponse.value = [];
      let list = selectUsers.value;
      delete list[name];
    }

    const send = () => {
       attachResponse.value = [];
       let users  = Object.assign({}, selectUsers.value);
       let dbName = selectDb.value;
       let action = actionName.value
       for(let usName in users) {
          let data = [usName, dbName];
          sendAction(action, data).then(resp => {
             console.log(resp);
             selectUsers.value = {};
             attachResponse.value.push(usName);
          })
       }
       // setTimeout((), 100)
       emit('attach_user_event', { users: attachResponse});
    }

    const setAttachPriv = () => {
      actionName.value = 'setUserPrivileges';
      send();
    }

    const delAttachPriv = () => {
      actionName.value = 'delUserPrivileges';
      send();
    }

    return {
      useState,
      selectUsers,
      selectDb,
      selectedDbName,
      selectedUserName,
      deletedUserName,
      setAttachPriv,
      delAttachPriv,
      panelShow,
      attachResponse,
      getActionName,
    }

  }
}
</script>

<style scoped>

   .dropdown-item:hover {
      background: #b0bed9;
      color: white;
   }

   .row-form__btn {
     width: 100%; background: green; font-size: 11px; padding: 4px
   }

   .row-form__btn:hover {
      background: #0a2c4a !important;
   }
</style>