<template>
<div :class="'col-' + getColClass">
    <fieldset class="form-group fieldset-elem">

      <label class="form-label fieldset-elem__label" >{{getTitle}}</label>

      <input  :type="type" class="form-control fieldset-elem__input"
              :value="modelValue" @input="updateValue" />

    </fieldset>
</div>
</template>

<script>
export default {
  name: "FormCheckbox",

  props: {
    modelValue: '',
    title: '',
    type: {
      type: String,
      default: 'text',
      required: false,
    },
    col: {
      type: String,
      default: '12',
      required: false,
    },
  },

  data() {
    return {
    }
  },

  computed: {

    getTitle() {
      return this.title;
    },

    getColClass() {
      return this.col;
    },

  },

  methods: {
    updateValue(event) {
      this.$emit('update:modelValue', event.target.value);
    },
  },

}
</script>

<style scoped>

</style>