<template>
  <div :class="'col-' + getColClass">
    <fieldset class="form-group fieldset-elem">
        <label class="form-label fieldset-elem__label" >{{getTitle}}</label>
        <select v-model="modelValue"
                @change="updateValue"
                class="select2-arrow manual select2-no-search-arrow custom-form-select"
                style="">
                <template v-if="getAttr">
                  <option v-for="(item, index) in getList"
                          :value="item[getAttr[0]]">{{item[getAttr[1]]}}</option>
                </template>
                <template v-else >
                    <option v-for="(label, name) in getList" :value="name" >{{label}} </option>
                </template>
        </select>
    </fieldset>
  </div>
</template>

<script>
export default {
  name: "FormSelect",
  props: {
    modelValue: '',
    title: '',
    list : [],
    param: {
      type: [],
      default: null,
      required: false,
    },
    col: {
      type: String,
      default: '12',
      required: false,
    },
  },

  data() {
    return {
    }
  },

  computed: {
    getAttr() {
      return this.param;
    },

    getColClass() {
      return this.col;
    },

    getTitle() {
      return this.title;
    },

    getList() {
      return this.list;
    },
  },

  methods: {
    updateValue(event) {
      this.$emit('update:modelValue', event.target.value);
    },
  },
}
</script>

<style scoped>
   .custom-form-select {
     cursor: pointer; height: 30px; border: 0;
   }
</style>