
.site-global-bg {
    background: #1e293b !important;
}

/** ПОЛЯ ФОРМЫ ПО УМОЛЧАНИЮ ***/
.pages-list-page input,
.pages-list-page select,
.pages-list-page textarea {
    border:1px #b0bed9 solid;
    border-radius: 0px;
}

.pages-list-page input {

}

.pages-list-page select {

}

.pages-list-page textarea {

}


/** ТАБЛИЦА ***/
.pages-list-page  table.tbl-typical input,
.pages-list-page  table.tbl-typical select,
.pages-list-page  table.tbl-typical textarea {
    border:1px #b0bed9 solid;
}

.pages-list-page  table.tbl-typical td {
    border:1px #b0bed9 solid;
    padding: 3px;
}

.pages-list-page  table.tbl-typical td span {
    margin: 4px;
}



/** ПОЛЯ ФОРМЫ НОВОЕ ***/

.row-form-container .form-group,
.row-form-container .form-control,
.row-form-container .form-label
{
    padding: 0px;
    margin: 0px;
}

.row-form-container .form-group {
    margin-bottom: 13px;
}
.row-form-container .form-control {}
.row-form-container .form-label {}

.row-form-container {
    border: 0px cornflowerblue solid;
    padding: 4px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.row-form__title {
    color:#0a2c4a; font-style: normal;
    margin:0px 0px 20px 0px; border-bottom: 1px #0a2c4a dotted;
}

.fieldset-elem {
    border:1px #b0bed9 solid;
    /*padding: 5px 2px 2px 2px !important;*/
    /*padding: 10px;*/
}

.fieldset-elem__label {
   font-size: 13px;
   z-index: 99;
   font-style: italic;
   color: #b0bed9;
   position: absolute;
   margin-top: -12px !important;
   margin-left: 3px !important;
   padding: 0px 4px 0px 4px !important;
   background: white;
}

.fieldset-elem__input {
    border:0px red solid !important;
    height: 30px;
    padding-left: 5px !important;
    /*width: 98%;*/
}

.fieldset-elem__input:focus {
    box-shadow: 4px 5px 2px #b0bed9;
}

.row-form__btn {
    border:0px red solid !important;
    border-radius: 2px;
    background: #0a2c4a;
    margin-bottom: 10px;
}

.btn__height-31 {
    height: 31px; padding-top: 5px
}

