<template>
  <div class="mobile-menu-left-overlay"></div>
  <nav class="side-menu site-global-bg">
    <div class="side-menu-avatar site-global-bg">
        <!---- LOGO --->
    </div>

    <LeftSidebar
        :fname="config.name"
        :icon="config.icon"
        :link="config.link"
        :list="itemsList"
        @select_item="selectItemFn"/>

  </nav>

  <div class="page-content pages-list-page">

    <header class="page-content-header">
      <div class="container-fluid">
        <div class="tbl">
          <div class="tbl-row">
            <div class="tbl-cell">
              <h5>База: <span class="label label-success">{{ getRouteParam }}</span></h5>
            </div>
            <div class="tbl-cell tbl-cell-action">
             <span v-if="lastActionMessage" style="font-size: 11px; font-style: italic">
                Последнее действие : <span style="color:green"> {{ lastActionMessage }}</span>
             </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">

        <div class="col-xl-7">
          <v-section title="Панель 1">
            <!--- ПАНЕЛЬ-1 --->
            <div style="margin-top: 0px">
              <template v-if="getValueDatacl">
                    <div  class="label label-warning" style="margin:10px; padding: 5px">{{getValueDatacl}}</div>
                    <div style="margin:5px 5px 5px 10px; padding: 0px; font-style: italic">Прикрепленные пользователи</div>
                    <div  v-for="(value) in attachUsers"
                          class="label label-warning" style="margin:5px 5px 5px 10px; padding: 4px">{{value}}</div>
              </template>
            </div>

          </v-section>
          <v-section title="Информация о базе">
            <!--- ПАНЕЛЬ-2 --->
            <TableRender
                :data="itemFields"
                :headers="['Имя свойства', 'Значение']"
            />
          </v-section>
        </div><!--./ col -->

        <div class="col-xl-5 dahsboard-column">

          <v-section title="Привязка пользователей" style="height: 108px">
              <UserAttachAction style="margin-top: 0px; z-index: 999"
                  @attach_user_event="attachUsersEvent" />
          </v-section>

          <v-section title="Действия с базой">
            <!--- ПАНЕЛЬ-3 --->

            <!-- Удаление --->
            <uni-form
                title="Удаление базы"
                btn_title="Удалить"
                confirm="Удалить базу?"
                action="deleteDb"
                :model="{ name: { title: 'Имя базы', value: currentItemName, required: true } }"
                @after_submit="deleteResponse" />

            <!--- Создание --->
            <uni-form
                title="Создание базы"
                btn_title="Создать"
                action="CREATE_DATABASE"
                :model="{ name: { title: 'Имя базы', required: true },
                          user: { title: 'Имя пользователя', value: useName, required: true } }"
                @after_submit="createResponse" />

            <!--- Копирование --->
            <uni-form
                title="Копирование базы"
                btn_title="Скопировать"
                action="COPY_DATABASE"
                :model="{ old_name: { title: 'Имя исходной базы', value: currentItemName, required: true },
                          new_name: { title: 'Имя новой базы', required: true } }"
                @after_submit="copyResponse" />

          </v-section>
        </div><!--./ col-->

      </div>
    </div><!-- ./row .container-fluid-->

  </div>

</template>

<script>

import {computed, reactive, ref} from "vue";
import { useRoute } from 'vue-router'
import LeftSidebar from "@/components/LeftSidebar";
import UserAttachAction from "@/components/users/UserAttachAction";
import useApiSender from "@/composables/useApiSender";
import useAlertMessages from "@/composables/useAlertMessages";

export default {
  name: "PageDatabase",
  components: {
    LeftSidebar,
    UserAttachAction,
  },

  setup() {

    const route = useRoute();

    const config = reactive({
      name: 'datname',
      icon: 'build',
      link: 'databases',
    });

    const useName = ref('postgres');
    const itemsList = ref([]);
    const itemFields = ref([]);
    const attachUsers = ref([]);
    const currentItemName = ref('');
    const urlParamName = 'list_name';
    let deleteMessage = 'База удалена: ';
    let createMessage = 'База создана: ';
    let copyMessage = 'База скопирована: ';

    const {useState, getDatabases, fetchData} = useApiSender();
    const {setMessage, lastActionMessage} = useAlertMessages();

    const getRouteParam = computed(() => {
       init();
       return route.params[urlParamName];
    })

    const getValueDatacl = computed(() => {
      return itemFields.value.datacl;
    })

    const setItemsList = (list) => {
      let propName = config.name;
      useState[propName] = list;
      itemsList.value = list;
    }

    const setAttachUsers = () => {
      let attach = {}
      let users  = useState.users;
      let datacl = itemFields.value.datacl;
      if(!datacl) return false;

      for (let i in users) {
        let name = users[i]['usename'];
        let pos = datacl.indexOf(name);
        if(pos != -1) {
          attach[name] = name;
        }
      }
      return attach
    }

    const setItemListActive = (list, confName, itemName = null) => {
      let ch = 0;
      for (let i in list) {
        let item = list[i];
        let curName = item[confName]
        item['is_active'] = false;
        if(!itemName) {
           if(ch == 0) {
             item['is_active'] = true;
             itemFields.value = item;
             currentItemName.value = curName;
             attachUsers.value = setAttachUsers();
           }
        } else {
          if (curName == itemName) {
            item['is_active'] = true;
            itemFields.value = item;
            currentItemName.value = curName;
            attachUsers.value = setAttachUsers();
          }
        }
        ch++;
      }
      return list;
    }

    const selectItemFn = (response) => {
      let name = response.name;
      currentItemName.value = name;
      itemsList.value = setItemListActive(itemsList.value, config.name, name)
    }

    const loadDataListResponse = (message, itemName = null) => {
      getDatabases().then(list => {
        setItemsList(list); // устанавливаем список
        setItemListActive(list, config.name, itemName);
        let url = '/' + config.link + '/' + currentItemName.value;
        fetchData.redirect(url)
        setMessage(createMessage + itemName);
      });
    }

    const deleteResponse = (response) => {
        let dataJson = response.dataJson;
        let itemName =  dataJson.name;
        loadDataListResponse(deleteMessage);
    }

    const createResponse = (response) => {
      let dataJson = response.dataJson;
      let itemName =  dataJson.name;
      loadDataListResponse(createMessage, itemName);
    }

    const copyResponse = (response) => {
      let dataJson = response.dataJson;
      let itemName =  dataJson.new_name;
      loadDataListResponse(copyMessage, itemName);
    }

    const init = () => {
      // --- Первичная загрузка данных
      getDatabases().then(list => {
        setItemsList(list); // устанавливаем список
        let urlParam = fetchData.getUrlParam(urlParamName);
        if (urlParam) { // если параметр url не пустой
          selectItemFn({name: urlParam});
        } else {
          setItemListActive(list, config.name);
          let url = '/' + config.link + '/' + currentItemName.value;
          fetchData.redirect(url)
        }
      });
    }

    const attachUsersEvent = (response) => {
      init();
    }

    // --- Created ----
    init();

    return {
      config,
      itemsList,
      itemFields,
      currentItemName,
      selectItemFn,
      lastActionMessage,
      deleteResponse,
      createResponse,
      copyResponse,
      useName,
      getRouteParam,
      attachUsers,
      getValueDatacl,
      attachUsersEvent,
    }
  }

}
</script>

<style scoped>
   .set-global-bg {
     border-bottom: 2px gainsboro solid; margin-bottom: 6px;
   }
</style>