<template>
  <div class="mobile-menu-left-overlay"></div>
  <nav class="side-menu site-global-bg" >
    <div class="side-menu-avatar site-global-bg"
         style="border-bottom: 2px gainsboro solid; margin-bottom: 6px;"></div>
    <LeftSidebar
        :list="tables"
        :fname="listName"
        :icon="listIcon"
        @select_item="selectTable" />
  </nav>

  <div class="page-content pages-list-page">



    <TableItem
     :table_name="tableName"
     @create_table="createTableResponse"
     @delete_table="deleteTableResponse"
    />

    <CreateFields />

  </div>

</template>

<script>

import { ref } from "vue";
import LeftSidebar from "@/components/LeftSidebar";
import TableItem from "@/components/tables/TableItem";
import useFetchData from "@/composables/useFetchData";
import useApiSender from "@/composables/useApiSender";

export default {
  name: "Tables",
  components: {
    LeftSidebar,
    TableItem,
  },

  setup() {

    const listName = 'table_name';
    const listIcon = 'widget';
    const tables = ref([]);
    const tableName = ref('');

    const { getTables, isLeftMenuActive, getUrlParam, redirect } = useFetchData();
    const { sendAction } = useApiSender();

    // sendAction('CURRENT_DATABASE').then((response) => {
    //    console.log(response[0]['current_database']);
    // })

    const selectTable = (response) => {
        tableName.value = response.name;
        let param = { fname: 'table_name', prop: 'tables' }
        isLeftMenuActive(tableName.value, param);
    }

    const deleteTableResponse = (response) => {
      getTables().then((list) => {
        tables.value = list;
        for(let name in tables.value) {
          tableName.value = name;
          redirect('/tables/' + name)
          selectTable({ name })
          return true
        }
      })

    }

    const createTableResponse = (response) => {
       tableName.value = response.name;
       getTables().then((list) => {
          tables.value = list;
          selectTable({ name: tableName.value })
          redirect('/tables/' + tableName.value)
       })
    }

    const getFirstTableActive = (tables = []) => {

       let itemName = getUrlParam('list_name');
       if(itemName) {
         selectTable({name: itemName})
         return true;
       }

       for(let name in tables) {
         selectTable({name})
         redirect('/tables/' + name)
         return true
       }
    }

    const init = () => {
      getTables().then((list) => {
          tables.value = list;
          getFirstTableActive(tables.value)
      })
    }

    init();

    return {
      tables,
      listName,
      listIcon,
      selectTable,
      deleteTableResponse,
      createTableResponse,
      tableName,
    }
  }

}
</script>

<style scoped>

</style>