<template>
  <div class="mobile-menu-left-overlay"></div>
  <nav class="side-menu site-global-bg">
    <div class="side-menu-avatar site-global-bg">
      <!---- LOGO --->
    </div>

    <LeftSidebar
        :fname="config.name"
        :icon="config.icon"
        :link="config.link"
        :list="itemsList"
        @select_item="selectItemFn"/>

  </nav>

  <div class="page-content pages-list-page">

    <!--   <div class="label label-warning" style="margin:10px; padding: 5px"></div>-->
    <header class="page-content-header">
      <div class="container-fluid">
        <div class="tbl">
          <div class="tbl-row">
            <div class="tbl-cell">
              <h5>Пользователь: <span class="label label-success">{{ getRouteParam }}</span></h5>
            </div>
            <div class="tbl-cell tbl-cell-action">
             <span v-if="lastActionMessage" style="font-size: 11px; font-style: italic">
                Последнее действие : <span style="color:green"> {{ lastActionMessage }}</span>
             </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">

        <div class="col-xl-7">
          <v-section title="Панель 1">
            <!--- ПАНЕЛЬ-1 --->
          </v-section>
          <v-section title="Информация о пользователе">
            <!--- ПАНЕЛЬ-2 --->
            <TableRender
                :data="itemFields"
                :headers="['Имя свойства', 'Значение']"
            />
          </v-section>
        </div><!--./ col -->

        <div class="col-xl-5 dahsboard-column">
          <v-section title="Действия с пользователем">
            <!--- ПАНЕЛЬ-3 --->

            <!-- Удаление  --->
            <uni-form
                title="Удаление пользователя"
                btn_title="Удалить"
                action="deleteDbUser"
                confirm="Удалить пользователя?"
                :model="{ name: { title: 'Имя', value: currentItemName, required: true } }"
                @after_submit="deleteResponse"/>

            <!--- Создание  --->
            <uni-form
                title="Создание пользователя"
                btn_title="Создать"
                action="createUser"
                :model="{ name: { title: 'Имя', required: true },
                          password: { title: 'Пароль', required: true }, }"
                @after_submit="createResponse"/>


          </v-section>
        </div><!--./ col-->

      </div>
    </div><!-- ./row .container-fluid-->

  </div>

</template>

<script>

import {computed, reactive, ref} from "vue";
import { useRoute } from 'vue-router'
import LeftSidebar from "@/components/LeftSidebar";
import useApiSender from "@/composables/useApiSender";
import useAlertMessages from "@/composables/useAlertMessages";

export default {
  name: "PageUsers",
  components: {
    LeftSidebar,
  },

  setup() {

    const route = useRoute();

    const config = reactive({
      name: 'usename',
      icon: 'user',
      link: 'users'
    });


    const itemsList = ref([]);
    const itemFields = ref([]);
    const currentItemName = ref('');
    const urlParamName = 'list_name';
    let deleteMessage = 'Пользователь удален: ';
    let createMessage = 'Пользователь создан: ';

    const {useState, getUsers, fetchData} = useApiSender();
    const {setMessage, lastActionMessage} = useAlertMessages();

    const getRouteParam = computed(() => {
      init();
      return route.params[urlParamName];
    })

    const setItemsList = (list) => {
      let propName = config.name;
      useState[propName] = list;
      itemsList.value = list;
    }

    const setItemListActive = (list, confName, itemName = null) => {
      let ch = 0;
      for (let i in list) {
        let item = list[i];
        let curName = item[confName]
        item['is_active'] = false;
        if(!itemName) {
          if(ch == 0) {
            item['is_active'] = true;
            itemFields.value = item;
            currentItemName.value = curName;
          }
        } else {
          if (curName == itemName) {
            item['is_active'] = true;
            itemFields.value = item;
            currentItemName.value = curName;
          }
        }
        ch++;
      }
      return list;
    }

    const selectItemFn = (response) => {
      let name = response.name;
      currentItemName.value = name;
      itemsList.value = setItemListActive(itemsList.value, config.name, name)
    }

    const loadDataListResponse = (message, itemName = null) => {
      getUsers().then(list => {
        setItemsList(list); // устанавливаем список
        setItemListActive(list, config.name, itemName);
        let url = '/' + config.link + '/' + currentItemName.value;
        fetchData.redirect(url)
        setMessage(createMessage + itemName);
      });
    }

    const deleteResponse = (response) => {
      let dataJson = response.dataJson;
      let itemName =  dataJson.name;
      loadDataListResponse(deleteMessage);
    }

    const createResponse = (response) => {
      let dataJson = response.dataJson;
      let itemName =  dataJson.name;
      loadDataListResponse(createMessage, itemName);
    }

    const init = () => {
      // --- Первичная загрузка данных
      getUsers().then(list => {
        setItemsList(list); // устанавливаем список
        let urlParam = fetchData.getUrlParam(urlParamName);
        if (urlParam) { // если параметр url не пустой
          selectItemFn({name: urlParam});
        } else {
          setItemListActive(list, config.name);
          let url = '/' + config.link + '/' + currentItemName.value;
          fetchData.redirect(url)
        }
      });
    }

    // --- Created ----
    init();

    return {
      config,
      itemsList,
      itemFields,
      currentItemName,
      selectItemFn,
      lastActionMessage,
      deleteResponse,
      createResponse,
      getRouteParam,
    }
  }

}
</script>

<style scoped>
.set-global-bg {
  border-bottom: 2px gainsboro solid; margin-bottom: 6px;
}
</style>