<template><div>
    <transition name="slide-fade" >
        <div v-if="alertService.status"
             @click="close($event)"
             class="alertWindowPopupFixed" title="Закрыть">
             <div :class="'alertMessageContainer ' + classType" >
                 <div class="alertMessageTextBox" >
                    <div class="alertMessageContent"
                         v-html="alertService.message"></div>
                </div>
            </div>
        </div>
    </transition>
</div></template>

<script>

import useAlertMessages from "@/composables/useAlertMessages";

export default {
  name: "AlertMessage",
  setup() {

    const { alertService, getMessage, setMessage } = useAlertMessages();

    const getAlertClass = () => {
        let className = 'type-succes-class';
        switch (getMessage.type) {
           case 'error' :  className = 'type-error-class'; break;
           case 'warn' :  className = 'type-warn-class'; break;
        }
        return className;
    }

    const close = () => {
       alertService.status = false
    }

    let classType = getAlertClass();

    return {
       alertService,
       getMessage,
       setMessage,
       classType,
       close
    }

  }
}
</script>

<style>
    .alertWindowPopupFixed {
        padding: 4px;
        position: fixed;
        top:0px;
        right:2px;
        width: 320px;
        height: 100px;
        background: none;
        z-index: 9999 !important;
        border:0px green solid;
        /*opacity: 0.5;*/
        cursor: pointer;
    }

    .alertMessageContainer {
        width:300px;
        min-height: 70px;
        border:0px red solid;
        /*background: green;*/
    }

    .alertMessageTextBox {
        text-align:center;
        z-index:99999;
        width:100%;
        min-height: 70px;
        border:0px red solid;

    }

    .alertMessageContent {
        display: block;
        text-align:center;
        /*font-weight: bold;*/
        padding:10px 5px;
        min-height: 70px;
        color:white;
        border:1px white solid;
        padding-top: 6%;
    }

    .type-succes-class {
        background: green;
    }

    .type-error-class {
        background: red;
    }

    .type-warn-class {
        background: orange;
    }

    /* Анимации появления и исчезновения могут иметь */
    /* различные продолжительности и динамику.       */
    .slide-fade-enter-active {
        transition: all .3s ease;
        transform: translateY(40px);
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active до версии 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }

</style>
