<template>
  <header class="site-header site-global-bg" style="z-index: 999">
    <div class="container-fluid">

      <a href="#" class="site-logo-text"
         style="border-bottom: 2px gainsboro solid; border-right: 2px gainsboro solid; background: dimgrey">
         <img src="/img/pluton-logo.png" alt="" style="height: 100%">
      </a>

      <button class="hamburger hamburger--htla"><span>toggle menu</span></button>

      <div class="site-header-content">
        <div class="site-header-content-in">

          <!---- ГЛАВНОЕ МЕНЮ ------>
          <div class="mobile-menu-right-overlay"></div>
          <div class="site-header-collapsed">
            <div class="site-header-collapsed-in">

              <div v-for="(item) in routes" class="dropdown dropdown-typical">
                <router-link tag="a" active-class="top-menu-elem__active" :to="item.path" class="dropdown-toggle no-arr" >
                   <i :class="'font-icon font-icon-' + item.icon"></i>
                   <span class="lbl">{{item.title}}</span>
                </router-link>
              </div>

              <div class="site-header-search-container">
                <form class="site-header-search closed">
                  <input type="text" placeholder="Search"/>
                  <button type="submit"><span class="font-icon-search"></span></button>
                  <div class="overlay"></div>
                </form>
              </div>

            </div><!--.site-header-collapsed-in-->
          </div><!--.site-header-collapsed-->

          <!---- ПРАВАЯ ЧАСТЬ ЗАГОЛОВКА ---->
          <div class="site-header-shown" style="border:0px red solid; ">

            <!--- сообщения ---->
            <div class="dropdown dropdown-notification notif">
              <a href="#" class="header-alarm dropdown-toggle active"
                 id="dd-notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="font-icon-alarm"></i>
              </a>
            </div>

            <div class="dropdown user-menu">

              <button class="dropdown-toggle" id="dd-user-menu" type="button" >
                    <img src="img/avatar-2-64.png" alt="" style="width: 25px; height: 25px">
              </button>

<!--              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">-->
<!--                <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-user"></span>Profile</a>-->
<!--                <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-cog"></span>Settings</a>-->
<!--                <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-question-sign"></span>Help</a>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>-->
<!--              </div>-->

            </div>

            <button type="button" class="burger-right">
              <i class="font-icon-menu-addl"></i>
            </button>

          </div><!--.site-header-shown-->

          <div><div class="dropdown dropdown-notification notif"
                style="border:0px red solid; padding: 0px 4px 4px 4px; position: fixed; right: 0px; top: 40px;">
                <div class="label label-success" style="font-size: 11px; font-style: italic">Base: {{currentDbName}}</div>
                <div class="label label-success" style="font-size: 11px; font-style: italic; margin: 0 4px 0 4px"> User: {{currentUserName}}</div>
          </div></div>

        </div><!--site-header-content-in-->
      </div><!--.site-header-content-->

    </div><!--.container-fluid-->
  </header>
</template>

<script>

import { ref } from "vue";
import useApiSender from "@/composables/useApiSender";

export default {
  name: "Header",
  data() {
    return {
      //currentUserName: '',
      //currentDbName: '',
      routes: [
        {title: 'Главная', path: '/', icon: 'home'},
        {title: 'Таблицы', path: '/tables', icon: 'widget'},
        {title: 'Базы', path: '/databases', icon: 'build'},
        {title: 'Пользователи', path: '/users', icon: 'user'},
        {title: 'Роли', path: '/roles', icon: 'users'},
        {title: 'Настройки', path: '/settings', icon: 'cogwheel'},
      ],
    }
  },

  setup() {

    const currentDbName = ref('');
    const currentUserName = ref('');

    const { sendAction, fetchData } = useApiSender();

    sendAction('CURRENT_DATABASE').then((response) => {
      // console.log(response);
      currentDbName.value = response[0]['current_database'];
    })

    sendAction('CURRENT_DB_USER').then((response) => {
      // console.log(response);
      let datname, clientIp = '';
      for(let i in response) {
           let item = response[i];
           if(item.usename && item.usename !== '') {
               currentUserName.value = item.usename;
               datname  = item.datname;
               clientIp = item.client_addr;
               break;
           }
      }
    });

    // ---- created ----
    fetchData.getUsers();
    fetchData.getDatabases();
    fetchData.getTables();

    return {
      currentDbName,
      currentUserName
    }
  }

}
</script>

<style scoped >

  .top-menu-elem__active {
    color: white !important;
    text-decoration: none;
    cursor: pointer;
    outline: 0!important;
    background: #01549b;
  }

  .top-menu-elem__active i {
    color: white !important;
  }

</style>