<template>

<!--        <div @click="deleteElem(item, $event)"-->
<!--             class="leftPanelDeleteBox" title="Удалить" >-->
<!--          <i class="mdi mr-2 mdi-delete deleteBoxIcon"></i>-->
<!--        </div>-->

    <ul class="side-menu-list">
      <li v-for="(item, index) in itemsList"
          @click="selectItem(item[fname], item, index)"
          class="gold left-sidebar__item"
          :class="{ 'left-sidebar__item-active' : item.is_active}" >

          <router-link  :to="'/' + getLink + '/' + item[fname]" tag="a" >
            <i :class="'font-icon font-icon-' + icon"></i>
            <span class="lbl" >{{item[fname]}} </span>
          </router-link>

      </li>
    </ul>

<!--    <pre style="color: white; text-align: left; font-size:10px">{{itemsList}}</pre>-->

</template>

<script>

import {computed, ref } from 'vue';

export default {

  name: "ListRender",
  props:['list', 'fname', 'icon', 'link'],

  setup(props, { emit }) {

    const link = ref('tables');
    const items = ref([]);

    const getLink = computed(() => {
       if(props.link) link.value = props.link;
       return link.value;
    })

    const itemsList = computed(() => {
       items.value = props.list;
       return items.value;
    })

    const isMenuItemActive = (index) => {
       for(let i in items.value) {
          let item = items.value[i];
          let active = (i == index) ? true : false;
          item['is_active'] = active;
       }
    }

    const selectItem = (name, item, index) => {
      isMenuItemActive(index);
      emit('select_item', { name , item })
    }

    // const deleteItem = (elem) => {
    //   emit('delete_item', { name: elem[props.fname]})
    // }

    return {
      getLink,
      itemsList,
      selectItem,
      // deleteItem,
    }

  }
}
</script>

<style scoped >

.left-sidebar__item {
  border-left: 5px solid #1e293b;
}

.left-sidebar__item-active {
  color: yellowgreen;
  background: darkslategray;
  border-left: 5px solid yellowgreen;
}

.left-sidebar__item-active a span {
  color: yellowgreen !important;
}

.left-sidebar__item-active a i {
  color: yellowgreen !important;
}

</style>