<template>
<section class="box-typical box-typical-dashboard panel panel-default scrollable">

    <header class="box-typical-header panel-heading">
      <h3 class="panel-title">{{title}}</h3>
    </header>

    <slot></slot>

</section><!--.box-typical-dashboard-->
</template>

<script>
export default {
  name: "SectionPanel",
  props:['title'],
}
</script>

<style scoped>

</style>