<template>
<div class="box-typical-body panel-body" style="height: 100%; padding: 3px;">
    <table id="table-edit" class="table table-bordered table-hover">

      <template v-if="headers.length">
          <thead><tr>
            <th v-for="(title) in headers">{{title}}</th>
          </tr></thead>
          <tbody><tr v-for="(elem, fname) in data" >
            <td>{{fname}}</td>
            <td class="">{{elem}}</td>
          </tr></tbody>
      </template>
      <template v-else >
        <thead><tr>
          <th v-for="(title, fname) in headers">{{title}}</th>
        </tr></thead>
        <tbody><tr v-for="(item, i) in data" >
          <td v-for="(title, fname) in headers">
              {{item[fname]}}
          </td>
        </tr></tbody>
      </template>

    </table>
</div><!--.box-typical-body-->
</template>

<script>
export default {
  name: "TableRender",
  props: ['data', 'headers'],

}
</script>

<style scoped>

</style>