<template>
  <div @mouseup="dragStop($event)" class="app-wrapper">

    <AlertMessage/>

    <Header />

    <router-view/>

  </div>
</template>

<script>

import AlertMessage from '@/components/AlertMessage'
import Header from '@/components/Header'

export default {

  name: 'App',
  data: () => ({
    routes: [
      {title: 'Главная', path: '/'},
      {title: 'Таблицы', path: '/tables'},
    ],
  }),

  components: {
    AlertMessage,
    Header,
  },

  methods: {
    dragStop(event) {
    },
  },

}
</script>

<style>
</style>