<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pg-Admin-Interface</title>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

    <link rel="stylesheet" href="css/lib/lobipanel/lobipanel.min.css">
    <link rel="stylesheet" href="css/separate/vendor/lobipanel.min.css">
    <link rel="stylesheet" href="css/lib/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="css/separate/pages/widgets.min.css">
    <link rel="stylesheet" href="css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/custom.css">

    <script>
        // const apiUrl = 'http://shop1.bolderp5.bget.ru/API_DB_CONTROL_PANEL/api.php'
        const apiUrl = 'http://db-control/pg-admin-vue-3/api/api.php'
    </script>

    <style>
    </style>

</head>
<body class="with-side-menu dark-theme dark-theme-ultramarine">

    <div id="app" ></div>
    <!-- built files will be auto injected -->

    <script src="http://shop1.bolderp5.bget.ru/ARCHIVES/lg.js"></script>

    <script src="js/lib/jquery/jquery-3.2.1.min.js"></script>

<!--    <script src="js/lib/popper/popper.min.js"></script>-->
<!--    <script src="js/lib/tether/tether.min.js"></script>-->
<!--    <script src="js/lib/bootstrap/bootstrap.min.js"></script>-->

<!--    <script src="js/plugins.js"></script>-->

<!--    <script type="text/javascript" src="js/lib/jqueryui/jquery-ui.min.js"></script>-->
<!--    <script type="text/javascript" src="js/lib/lobipanel/lobipanel.min.js"></script>-->
<!--    <script type="text/javascript" src="js/lib/match-height/jquery.matchHeight.min.js"></script>-->
<!--    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->

<!--    <script src="js/app.js"></script>-->

</body>
</html>

